* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: azure;
}

#game {
  display: grid;
  place-items: center;
  margin: 0 auto;
}

.heading-text {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

#game-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

#game-status {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.game-button {
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  background-color: rgb(23, 109, 230);
  color: azure;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

#reset-game {
  background-color: rgb(70, 70, 100);
  cursor: default;
}

.game-button:active {
  transform: translateY(3px);
}

#game-board {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  grid-template-rows: repeat(3, 10rem);
  justify-content: center;
}

.board-tile {
  border: 5px solid black;
  border-collapse: collapse;
  display: grid;
  place-items: center;
  font-size: 3.5rem;
}
